#define CAML_INTERNALS
#include "caml/mlvalues.h"
#include "caml/prims.h"

{{#primitives}}
extern value {{prim}}();
{{/primitives}}

c_primitive caml_builtin_cprim[] = {
{{#primitives}}
  {{prim}},
{{/primitives}}
  0 };

char * caml_names_of_builtin_cprim[] = {
{{#primitives}}
  "{{prim}}",
{{/primitives}}
  0 };
