configs controlling deployment/installation

These are user-controlled features, not feature-test outputs, and
should be set via CLI config flags rather than ./configure

## Exception: OCaml puts some of these paths into bytecode files.
PREFIX = "/usr/local"
EXEC_PREFIX = PREFIX
LIBDIR = EXEC_PREFIX + "/lib/ocaml"

ROOTDIR = "." ##FIXME

let bindir = {|{BINDIR}|}

# std lib dir is special, depends on the build params
# todo: set it to the stdlib bld dir
# EXCEPT for deploy build, in which case this is used:
# i.e. this is the default *install* location for stdlib
let standard_library_default = {|{STDLIB}|}

let default_rpath = {@QS@|@rpath@|@QS@}
let mksharedlibrpath = {@QS@|@mksharedlibrpath@|@QS@}
let host = {@QS@|@host@|@QS@}
let target = {@QS@|@target@|@QS@}

INSTALL_SOURCE_ARTIFACTS = "@install_source_artifacts@" == "true"
